@model IEnumerable<User>
<!-- Copy from pitpoint.html -->
<section>
    <div class="gap2 no-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featured-baner mate-black ext-low-opacity">
                        <!-- <div class="sub-links">
                          <a href="#" title="" class="main-btn" data-ripple=""
                            >Register Now</a
                          >
                          <div class="heart-pnts">
                            <div><i class="fa fa-heart"></i><span>56.4k</span></div>
                            <a href="#" title="">your Heart Points</a>
                            <a href="#" title="">upgrade your profile</a>
                          </div>
                        </div> -->
                        <img src="../images/resources/pitpoint-feature.jpg" alt="" />
                        <h2>Find Your Best <span>Friends</span> Now</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top banner -->

<section>
    <div class="gap2 no-gap overlap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="search-match">
                        <h5>find for me <span>best match</span></h5>
                        <form method="post">
                            <ul class="select-gender">
                                <li class="selected">
                                    <img src="../images/male.png" alt="" />
                                </li>
                                <li>
                                    <img src="../images/female.png" alt="" />
                                </li>
                            </ul>
                            <div class="chk">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" /><i class="check-box"></i>with photo
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" /><i class="check-box"></i>without photo
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" /><i class="check-box"></i>with video
                                    </label>
                                </div>
                            </div>
                            <div class="age-opt">
                                <label>Age:</label>
                                <select>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                </select>
                                <p>-</p>
                                <select>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                </select>
                            </div>
                            <div class="oth-opt">
                                <div class="loc">
                                    <label>Location:</label>
                                    <input type="text" placeholder="location" />
                                </div>
                            </div>
                            <button type="submit">
                                <i class="fa fa-search"></i> Find
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gender search -->

<section>
    <div class="gap gray-bg">
        <div class="container">
            <div class="row" id="page-contents">
                <div class="col-lg-3">
                    <aside class="sidebar static left">
                        <div class="friend-box">
                            <div class="frnd-meta">
                                <img alt="" src="../images/resources/frnd-figure3.jpg" />
                                <div class="frnd-name">
                                    <a title="" href="#">Jack Carter</a>
                                </div>
                                <a class="main-btn2" href="#" title="">Follow</a>
                            </div>
                            <ul class="menu-list">
                                <li>
                                    <a href="#" title="" data-ripple=""><i class="fa fa-home"></i>Home</a>
                                </li>
                                <!-- <li>
                                  <a href="#" title="" data-ripple=""
                                    ><i class="fa fa fa-check-circle-o"></i>Match Mark</a
                                  >
                                </li> -->
                                <li>
                                    <a href="#" title="" data-ripple=""><i class="fa fa-history"></i>History</a>
                                </li>
                                <!-- <li>
                                  <a href="#" title="" data-ripple=""
                                    ><i class="fa fa-certificate"></i>My Dates</a
                                  >
                                </li> -->
                                <!-- <li>
                                  <a href="#" title="" data-ripple=""
                                    ><i class="fa fa-fire"></i>Case Studies</a
                                  >
                                </li> -->
                                <li>
                                    <a href="#" title="" data-ripple=""><i class="fa fa-sun-o"></i>Privacy & Policy</a>
                                </li>
                                <li>
                                    <a href="#" title="" data-ripple=""><i class="fa fa-question-circle"></i>Help</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title">Most Active People</h4>
                            <ul class="most-actie-pep">
                                <li>
                                    <a href="#" title="Sandy" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend1.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Andrew" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend2.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Sapna" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend3.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Emily" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend4.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Xing Xang" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend5.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Sophia" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend6.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="George" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend7.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Katy" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend8.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Luci" class="user-thmb">
                                        <img alt="" src="../images/resources/side-friend9.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Diana" class="user-thmb">
                                        <img alt=""
                                             src="../images/resources/side-friend10.jpg" />
                                        <span class="status f-online"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Most active people widget -->
                        <div class="widget stick-widget">
                            <h4 class="widget-title">Success Stories</h4>
                            <ul class="succes-people">
                                <li>
                                    <figure>
                                        <img src="../images/resources/couple1.jpg" alt="" />
                                    </figure>
                                    <h5>"Its a a good place to meet serious people!"</h5>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/resources/couple2.jpg" alt="" />
                                    </figure>
                                    <h5>"Wedding ceremony was priceless"</h5>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/resources/couple3.jpg" alt="" />
                                    </figure>
                                    <h5>
                                        "i am so happy, i find my love in this site and will
                                        marry soon! "
                                    </h5>
                                </li>
                            </ul>
                        </div>
                        <!-- success couples carousel widget -->
                    </aside>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <div class="pitpoint-filter central-meta">
                              <ul class="view-port">
                                <li>
                                  <a href="pitpoint.html" title=""
                                    ><i class="fa fa-th"></i
                                  ></a>
                                </li>
                                <li class="active">
                                  <a href="pitpoint-list.html" title=""
                                    ><i class="fa fa-th-list"></i
                                  ></a>
                                </li>
                              </ul>
                              <ul class="filter-ajex">
                                <li class="active">
                                  <a href="#" title="All Members">All</a>
                                </li>
                                <li>
                                  <a class="online" href="#" title="Only Online People"
                                    ><i class="fa fa-circle"></i
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    class="offline"
                                    href="#"
                                    title="Only Offline People"
                                    ><i class="fa fa-circle"></i
                                  ></a>
                                </li>
                                <li><a href="#" title="">Best Match</a></li>
                                <li><a href="#" title="">Newest</a></li>
                                <li><a href="#" title="">Approved</a></li>
                                <li><a href="#" title="">Near By</a></li>
                                <li><a href="#" title="">Paid Members</a></li>
                                <li><a href="#" title="">Free Members</a></li>
                              </ul>
                              <div class="range-slider">
                                <div class="slider-box">
                                  <label for="priceRange"></label>
                                  <input type="text" id="priceRange" readonly />
                                  <div id="price-range" class="slider"></div>
                                </div>
                              </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="load-more">
                        @foreach(var item in Model)
                        {
                            <div class="central-meta item">
                            <div class="pit-post">
                                <figure>
                                    <img src="../images/resources/date-userlist1.jpg" alt="" />
                                </figure>
                                <div class="pit-post-deta">
                                    <h4>
                                        <a href="pitpoint-detail.html" title="">
                                            <span class="status f-online"></span> @item.DisplayName
                                        </a>
                                    </h4>
                                    <ul class="post-up-time">
                                        <li>
                                            <div class="verification">
                                                <em class="verify"><i class="fa fa-check-circle"></i> verified</em>
                                            </div>
                                        </li>
                                        <li><i class="fa fa-map-marker"></i> Canada</li>
                                    </ul>
                                </div>
                                <div class="buttons">
                                    <a href="#"
                                       title=""
                                       class="main-btn2 send-mesg"
                                       data-ripple="">Send Message</a>
                                        <a asp-controller="FindFriend" asp-action="SendFriendRequest" asp-route-userId="@item.Id" title="" class="main-btn" data-ripple="">Add Friend</a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content -->