
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLoginRegis.cshtml";
}

@*route register : /loginregis/index*@
@model User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="col-lg-4">
    <div class="we-login-register">
        <div class="form-title">
            <i class="fa fa-key"></i>Sign Up
            <span>Sign Up now and meet the awesome friends around the world.</span>
        </div>
        <form class="we-form" asp-action="Index" method="post">

            <input asp-for="Email" type="text" placeholder="Email">
            <span asp-validation-for="Email" class="text-white"></span>

            <input asp-for="Password" type="password" placeholder="Password">
            <span asp-validation-for="Password" class="text-white"></span>
           
            <input asp-for="DisplayName" type="text" placeholder="Fullname: Tran My Linh">
            <span asp-validation-for="DisplayName" class="text-white"></span>

            <input asp-for="Username" type="text" placeholder="Username: mylinhnek">
            <div>
                <span asp-validation-for="Username" class="text-white"></span>
            </div>
           


            <input type="checkbox">

            <label>Send code to Mobile</label>
            <button type="submit" data-ripple="">Register</button>
            <a class="forgot underline" href="#" title="">forgot password?</a>
            </form>
        
        <a data-ripple="" title="" href="#" class="with-smedia facebook"><i class="fa fa-facebook"></i></a>
        <a data-ripple="" title="" href="#" class="with-smedia twitter"><i class="fa fa-twitter"></i></a>
        <a data-ripple="" title="" href="#" class="with-smedia instagram"><i class="fa fa-instagram"></i></a>
        <a data-ripple="" title="" href="#" class="with-smedia google"><i class="fa fa-google-plus"></i></a>
        <span>already have an account? <a class="we-account underline" asp-controller="LoginRegis" asp-action="Login" title="">Sign in</a></span>
    </div>
</div>

