@model BTL_WEB.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEditProfile.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <label asp-for="Username" class="control-label" style="font-weight:700;"></label>
            <div class="form-group">
                
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <label asp-for="DisplayName" class="control-label" style="font-weight:700;"></label>
            <div class="form-group">
                
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <label asp-for="Email" class="control-label" style="font-weight:700;"></label>
            <div class="form-group">
                
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="Password" class="control-label" style="font-weight:700;"></label>
            <div class="form-group">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <label asp-for="Gender" class="control-label" style="font-weight:700;"></label>
            <div class="form-group">
                
                <input asp-for="Gender" min="0" max="1" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <label asp-for="Birthday" class="control-label" style="font-weight:700;"></label>
            <div class="form-group">
                
                <input asp-for="Birthday" class="form-control" style="width: 200px;"/>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="AvatarImg" class="control-label"></label>
                <input asp-for="AvatarImg" class="form-control" />
                <span asp-validation-for="AvatarImg" class="text-danger"></span>
            </div>-->
            <!--<div class="form-group">
                <label asp-for="BackgroundImg" class="control-label"></label>
                <input asp-for="BackgroundImg" class="form-control" />
                <span asp-validation-for="BackgroundImg" class="text-danger"></span>
            </div>-->
            <!--<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLocked" /> @Html.DisplayNameFor(model => model.IsLocked)
                </label>
            </div>-->
            <!--<div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="color: red"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color: red">Back to List</a>
</div>

